/* src/pages/menu.css */

/* Variables globales */
:root {
  --color-fondo: #f8f8f8;
  --color-primario: #e63946;
  --color-secundario: #34495e;
  --color-descripcion: #777;
  --color-precio: #ff4b2be1;
  --color-boton: #ff5722;
  --color-blanco: #ffffff;
  --sombra-card: 0 8px 20px rgba(0, 0, 0, 0.1);

  --fuente-principal: "Flame-RegularSans", sans-serif;
  --fuente-destacada: "Helvetica Black", sans-serif;

  --ancho-card: 300px;
  --altura-img: 200px;
  --borde-radius: 15px;
}

/* Estilos */
.menu-container {
  padding: 60px 20px;
  background: var(--color-fondo);
  min-height: 100vh;
  text-align: center;
}

.menu-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primario);
  font-family: var(--fuente-destacada);
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.menu-card {
  background-color: var(--color-blanco);
  border-radius: var(--borde-radius);
  overflow: hidden;
  width: var(--ancho-card);
  box-shadow: var(--sombra-card);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card:hover {
  transform: scale(1.03);
}

.menu-img {
  width: 100%;
  height: var(--altura-img);
  object-fit: cover;
}

.menu-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.menu-content h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--color-secundario);
  font-family: var(--fuente-destacada);
}

.menu-content p {
  font-size: 1rem;
  color: var(--color-descripcion);
  text-align: left;
  font-family: var(--fuente-principal);
}

.menu-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-precio);
  text-align: left;
}

.button-cart-menu {
  align-self: flex-end;
  margin-top: auto;
  background-color: var(--color-boton);
  color: var(--color-blanco);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fuente-principal);
}
