.auth-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .auth-box {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
  }
  
  .auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
  }
  
  .auth-box input:focus {
    border-color: #df4226;
    outline: none;
  }
  
  .auth-box button {
    width: 100%;
    padding: 12px;
    background-color:#df4226;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 0.3s ease;
  }
  
  .auth-box button:hover {
    background-color: #df4226;
  }
  